<loading/>

<div
  class="edit-course-form"
  [formGroup]="form"
>

  <h3>{{ data.title }}</h3>

  <div class="form-control">
    <label>Course title:</label>
    <input
      formControlName="title"
      placeholder="Enter course title"
    >
  </div>

  <div class="form-control">
    <label>Course description:</label>
    <textarea
      formControlName="longDescription"
      placeholder="Enter course description"
    >
    </textarea>
  </div>

  <course-category-combobox
    label="Course category"
    [(value)]="category"
  >
    <div
      #title
      class="title"
    >
      Course category (via content projection)
    </div>
    <div
      #title
      class="title"
    >
      Another title
    </div>
  </course-category-combobox>

  <div class="form-control">
    <label>Course image:</label>
    <input
      formControlName="iconUrl"
      placeholder="Enter course title"
    >
  </div>

  <div class="form-actions">

    <button
      class="btn"
      (click)="onSave()"
    >
      Save
    </button>

    <button
      class="btn"
      (click)="onClose()"
    >
      Cancel
    </button>

  </div>

</div>
